<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title><?php echo $this->translate('tracker_site_title'); ?></title>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('static/css/style.css'); ?>" />
</head>
<body>
<div class="top_identity">
<?php echo $this->translate('hello'); ?>, <?php echo $this->identity; ?>&nbsp;
[<a href="<?php echo $this->url(array('action'=>'langswitch', 'controller'=>'index', 'module'=>'default')); ?>"><?php echo $this->translate('switch_lang'); ?></a>] &nbsp;
[<a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'index', 'module'=>'demo')); ?>"><?php echo $this->translate('demo_home'); ?></a>]
	&nbsp;[<a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'logout', 'module'=>'auth')); ?>"><?php echo $this->translate('exit_login'); ?></a>]
</div>
<h1><?php echo $this->translate('tracker_site_title'); ?></h1>
<?php echo $this->render('menu.phtml', 'default'); ?>
<div class="main_content">
<?php
if ($this->messages) {
	foreach ($this->messages as $m) {
?>
	<p><?php echo $m; ?></p>
<?php
	}
}
?>
<?php echo $this->layout()->content ?>
</div>
</body>
</html>

