<div class="main_menu">
<dl><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'index', 'module'=>'default')); ?>"><?php echo $this->translate('home'); ?></a></dl>
<dl><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'index', 'module'=>'p')); ?>"><?php echo $this->translate('project'); ?></a>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'add', 'module'=>'p')); ?>"><?php echo $this->translate('add_new_project'); ?></a></dd>
</dl>
<dl><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'index', 'module'=>'issue')); ?>"><?php echo $this->translate('issue'); ?></a>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'add', 'module'=>'issue')); ?>"><?php echo $this->translate('add_new_issue'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'me', 'module'=>'issue')); ?>"><?php echo $this->translate('my_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'new', 'module'=>'issue')); ?>"><?php echo $this->translate('newest_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'open', 'module'=>'issue')); ?>"><?php echo $this->translate('open_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'done', 'module'=>'issue')); ?>"><?php echo $this->translate('done_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'closed', 'module'=>'issue')); ?>"><?php echo $this->translate('closed_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'delay', 'module'=>'issue')); ?>"><?php echo $this->translate('delay_issues'); ?></a></dd>
<dd><a href="<?php echo $this->url(array('action'=>'index', 'controller'=>'all', 'module'=>'issue')); ?>"><?php echo $this->translate('all_issues'); ?></a></dd>
</dl>
</div>

