<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title><?php echo $this->translate('login'); ?></title>
<style type="text/css">
body {font-size:12px;font-family:arial;margin:0;padding:0;text-align:center}
form, table, p {margin:0;padding:0}
div.login_form {width:250px;height:108px;border:#E1E1E1 2px outset;padding:5px;margin:100px auto}
input.textin {border:#E1E1E1 1px inset;padding-top:2px}
p.err_msg {color:red}
</style>
</head>
<body>


<div class="login_form">
<form action="<?php echo $this->url(); ?>" method="post">
<table>
<tr>
<td><?php echo $this->translate('username'); ?>:</td><td><input type="text" name="username" class="textin"></td>
</tr>
<tr>
<td><?php echo $this->translate('password'); ?>:</td><td><input type="password" name="password" class="textin"></td>
</tr>
<tr>
<td></td><td><input type="submit" value="<?php echo $this->translate('login'); ?>">
<a href="<?php echo $this->url(array('action'=>'langswitch', 'controller'=>'index', 'module'=>'default')); ?>"><?php echo $this->translate('switch_lang'); ?></a>

</td>
</tr>
</table>
</form>

<?php 
if ($this->messages) {
	foreach ($this->messages as $msg) {
		echo '<p class="err_msg">' . $msg . '</p>';
	}
}
?>
</div>
</body>
</html>


